.Rproj.user
.Rhistory
.RData
.Ruserdata

GWAS_Results/

Data_Drone/final_it17_d.csv
Data_Drone/final_ro17_d.csv
Data_Drone/final_su17_d.csv
Data_Drone/final_su18_d.csv

myG_LDP.csv

Literature/

Additiona/Additional_Figure_03.pdf

Additional/Markers/Chr1/
Additional/Markers/Chr2/
Additional/Markers/Chr3/
Additional/Markers/Chr4/
Additional/Markers/Chr5/
Additional/Markers/Chr6/
Additional/Markers/Chr7/