.Rproj.user
.Rhistory
.RData
.Ruserdata

GWAS_Results/

Data_Drone/final_it17_d.csv
Data_Drone/final_ro17_d.csv
Data_Drone/final_su17_d.csv
Data_Drone/final_su18_d.csv

myG_LDP.csv

Literature/

Additiona/Additional_Figure_03.pdf
